<div class="div-center">
  <div class="content">
    <h1>Choose dates</h1>
    <%= form_for @reservation do |f| %>
      <% if @reservation.errors.any? %>
        <% @reservation.errors.full_messages.each do |message| %>
          <p class="error text-danger"><%= message %></p>
        <% end %>
      <% end %>
      <div class="form-group">
        <label>Dates</label>
        <div class="input-daterange input-group datepicker standart" id="datepicker">
          <%= f.text_field :date_from_standart, class:"form-control input-sm", id: "start_date" %><br />
          <span class="input-group-addon">to</span>
          <%= f.text_field :date_to_standart , class:"form-control input-sm", id: "end_date"  %><br />
        </div>
        <div class="input-daterange input-group datepicker luxe" id="datepicker">
          <%= f.text_field :date_from_luxe , class:"form-control input-sm", id: "start_date"%><br />
          <span class="input-group-addon">to</span>
          <%= f.text_field :date_to_luxe , class:"form-control input-sm", id: "end_date"  %><br />
        </div>
        <label>Type of room:</label></br>
        <%= f.radio_button :type_of_room, "standart" %> <%= f.label :type_of_room, "Standart - 3 people, price: 900 UAH",  onclick: "window.location='/standart'" %> </br>
        <%= f.radio_button :type_of_room, "luxe" %> <%= f.label :type_of_room,  "Luxe - 4 people, price: 1100 UAH",  onclick: "window.location='/standart'"%> </br>
      </div>
      <%= f.hidden_field :standart_dates, class: "standart_date", data: { temp: @reservation.standart_dates } %>
      <%= f.hidden_field :luxe_dates, class: "luxe_date", data: { temp: @reservation.luxe_dates } %>
      <%= f.hidden_field :step %>
      <%= f.hidden_field :client_id %>
      <div class="form-group">
        <%= f.submit "Choose", class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>

<script>
    var date=new Date();
    var year=date.getFullYear();

    $(document).ready(function () {
        $('input[type="radio"]').click(function () {

            if ($(this).attr("value") == "standart") {
                $(".luxe").hide();
                $(".standart").show();
            }
            if ($(this).attr("value") == "luxe") {
                $(".luxe").show();
                $(".standart").hide();
            }
        });

        $('.standart').datepicker({
            format: 'dd.mm.yyyy',
            datesDisabled: $('.standart_date').data('temp'),
            startDate : new Date(),
            endDate: new Date(year, '9', '30')
        });
        $('.luxe').datepicker({
            format: 'dd.mm.yyyy',
            datesDisabled: $('.luxe_date').data('temp'),
            startDate : new Date(),
            endDate: new Date(year, '9', '30')
        });

        $('input[type="radio"]').trigger('click');  // trigger the event
    });
</script>