<div class="div-center">
  <div class="content">
    <h1>Booking</h1>
    <% if @client.errors.any? %>
      <% @client.errors.full_messages.each do |message| %>
          <p class="error text-danger"><%= message %></p>
      <% end %>
    <% end %>
    <% if @client.person.errors.any? %>
      <% @client.person.errors.full_messages.each do |message| %>
        <% unless message.to_s.include?("Personable") %>
          <p class="error text-danger"><%= message %></p>
        <% end %>
      <% end %>
    <% end %>
    <%= form_for @client do |f| %>
      <div class="form-group">
        <label>First name</label>
        <%= f.text_field :name, class:"form-control", :required => true %><br />
        <label>Last name</label>
        <%= f.text_field :surname, class:"form-control", :required => true %><br />
        <label>Phone number</label>
        <%= f.text_field :phone_number, class:"form-control",:required => true %><br />
        <label>Email</label>
        <%= f.text_field :email, class:"form-control", :required => true %><br />
      </div>
      <div class="form-group">
        <%= f.submit "Sumbit",class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
