<!-- home -->
<!-- background slider -->
<div class="bgslider-owl" id="home">
<div id="owl-slider-home" class="owl-carousel">

 <div class="item imgbg" style="background-image:url(<%= image_path("bg-3.jpg") %>)">
  <!-- intro -->
  <div class="overlay-main v-align text-center ">
    <div class="col-md-10 col-xs-11 onStep" data-animation="fadeInUp" data-time="300">

      <h1>ГОСТЕВОЙ ДОМ "ВОЛНА"</h1>
      <h3 >ПРИГЛАШАЕМ НА ОТДЫХ</h3>
      <br>
    </div>
  </div>
  <!-- intro end -->
 </div>

 <div class="item imgbg" style="background-image:url(<%= image_path("bg-4.jpg") %>)">
  <!-- intro -->
  <div class="overlay-main v-align text-center ">
    <div class="col-md-10 col-xs-11">

      <h1>ГОСТЕВОЙ ДОМ "ВОЛНА"</h1>
      <h3 >ЛУЧШИЙ ПЛЯЖ</h3>
     <br>

    </div>
  </div>
  <!-- intro end -->
 </div>

 <div class="item imgbg" style="background-image:url(<%= image_path("bg-1.jpg") %>)">
  <!-- intro -->
  <div class="overlay-main v-align text-center ">
    <div class="col-md-10 col-xs-11">

      <h1>ГОСТЕВОЙ ДОМ "ВОЛНА"</h1>
      <h3 >КОМФОРТНЫЙ ОТДЫХ</h3>
     <br>

    </div>
  </div>
  <!-- intro end -->
 </div>

   </div>

</div>
<!-- background slider end -->
<!-- home end -->

<!--&lt;!&ndash; booking home &ndash;&gt;-->
<!--<div class="bot-home-text onStep" data-animation="fadeInUp" data-time="600">-->
  <!--<div class="container">-->

    <!--<div id="reservation" class="imgbgres" style="background-image:url(<%# image_path("bg-res.jpg") %>)">-->

      <!--<form action="#" id="form1" method="post" name="form1">-->
        <!--<div class="row">-->

          <!--<div class="col-sm-6 form-group">-->
            <!--<select class="form-control" id="selectroom">-->
              <!--<optgroup label="Выберите номер">-->
                <!--<option value="Standart">Стандарт</option>-->
                <!--<option value="Luxe">Люкс</option>-->
              <!--</optgroup>-->
            <!--</select>-->
          <!--</div>-->

          <!--<div class="col-md-3 form-group">-->
            <!--<div class="input-group">-->
              <!--<input type="text" name="date1" id="date1" class="form-control fox1" placeholder="ДАТА ВЪЕЗДА">-->
              <!--<div class="input-group-btn">-->
                <!--<span class="icon"><i class="fa fa-calendar"></i></span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->


          <!--<div class="col-md-3 form-group">-->
            <!--<div class="input-group">-->
              <!--<input type="text" name="date2" id="date2" class="form-control fox2" placeholder="ДАТА ВЫЕЗДА">-->
              <!--<div class="input-group-btn">-->
                <!--<span class="icon"><i class="fa fa-calendar"></i></span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-sm-2 form-group">-->
            <!--<input id="personbook" name="personbook" placeholder="ФАМИЛИЯ" type="text">-->
          <!--</div>-->

          <!--<div class="col-sm-4 form-group">-->
            <!--<input id="namebook" name="namebook" placeholder="ИМЯ" type="text">-->
          <!--</div>-->

          <!--<div class="col-sm-3 form-group">-->
            <!--<input id="emailbook" name="emailbook" placeholder="EMAIL" type="text">-->
          <!--</div>-->

          <!--<div class="col-sm-3 form-group">-->
            <!--<input id="phonebook" name="phonebook" placeholder="ТЕЛЕФОН" type="text">-->
          <!--</div>-->

          <!--<div class="col-sm-12 form-group">-->
            <!--<textarea cols="50" id="messagebook" name="message" placeholder="ВАШЕ СООБЩЕНИЕ(ОСОБЫЕ ПОЖЕЛАНИЯ)" rows="2"></textarea>-->
          <!--</div>-->


          <!--<div class="success-white" id="mail_success">Спасибо резервация выслана!</div>-->
          <!--<div class="error-white" id="mail_failed">Что-то не так...</div>-->
          <!--<button class="btn-content" id="send">ЗАБРОНИРОВАТЬ</button>-->


        <!--</div>-->
      <!--</form>-->
      <!--<div class="payment" id="payment">-->

      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; booking home end &ndash;&gt;-->

<!-- section about -->
<section class="whitepage" id="about">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">
        <div class="wrap-news onStep" data-animation="fadeInLeft" data-time="300">
          <%= image_tag("img-news.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
          <h3>Standart</h3>
          <p>Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. </p>
          <a class="link-class" href="/standart">
            MORE DETAIL
            <span class="devider"></span>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="wrap-news onStep" data-animation="fadeInRight" data-time="600">
         <%= image_tag("img-news1.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
          <h3>Luxe</h3>
          <p>Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. </p>
          <a class="link-class" href="/luxe">
            MORE DETAIL
            <span class="devider"></span>
          </a>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- section about end -->

<!-- stepwork -->
<section id="step-page" class="step-page">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="text-center">
          <h2>Бронирование</h2>
          <span class="devider-center"></span>
          <div class="space-single"></div>
        </div>
      </div>

      <!-- step menu -->
      <div class="onStep" data-animation="fadeInUp" data-time="300">

        <div class="step-mains">

          <div class="col-md-3 step-main">
            <div class="step-main">
              <a class="filt-step active" data-filter=".planing"><span>Вебери комнату</span></a>
            </div>
          </div>

          <div class="col-md-3 step-main">
            <div class="step-main">
              <a class="filt-step" data-filter=".que"><span>Заполни данныe</span></a>
            </div>
          </div>

          <div class="col-md-3 step-main">
            <div class="step-main">
              <a class="filt-step" data-filter=".book"><span>Оплати</span></a>
            </div>
          </div>

          <div class="col-md-3 step-main">
            <div class="step-main">
              <a class="filt-step" data-filter=".finish"><span>И конец</span></a>
            </div>
          </div>

        </div>
        <!-- step menu end -->

        <!-- step content -->
        <div id="step-text" class="col-md-12 col-xs-12">

          <div class="cont planing">
            <div class="text-center">
              <p>Конаты и цены выбирайте во вкладках "Комнаты" или "Цены"</p>
            </div>
          </div>

          <div class="cont que">
            <div class="text-center">
              <p>Вам нужно заполнить даты с и по, имя, фамилию, телефон и электроную почту. Если есть какие-то пожелания можно добавить какое-то пожелание.</p>
            </div>
          </div>

          <div class="cont book">
            <div class="text-center">
              <p>Если Вы всё плавитьно заполнили, у вас появится кнопка для предоплаты и 30 минут времени для предоплаты. (ВНИМАНИЕ: После 30 минут ваша оплата будет не действительна).</p>
            </div>
          </div>

          <div class="cont finish">
            <div class="text-center">
              <p>Вам на почту придёт подтверждение оплаты и подтверждение бронирования.</p>
            </div>
          </div>

        </div>
      </div>
      <!-- step content end -->

    </div>
  </div>
</section>
<!-- stepwork end -->

<!-- section room -->
<section class="whitepage" id="service">

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="text-center">
                    <h2>КОМНАТЫ</h2>
                    <span class="devider-center"></span>
                    <h3>Посмотреть наши комнаты</h3>
                </div>
            </div>

            <!-- spacer -->
            <div class="space-single"></div>
            <!-- spacer -->

            <div class="with-gutter">

                <div class="onStep" data-animation="fadeInUp" data-time="300">
                    <div class="col-md-5">
                        <div class="projects-home" style="background-image:url(<%= image_path("rooms/resto-room.jpg") %>)">
                        <div class="hovereffect">
                            <a href="#">
                                <div class="overlay v-align">
                                    <div class="content">
                                        <span class="heading">Кафе</span>
                                        <span class="devider-projects"></span>
                                        <span class="subheading">Платный обед</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="projects-home" style="background-image:url(<%= image_path("rooms/com-room.jpg") %>)" >
                    <div class="hovereffect">
                        <a href="#">
                            <div class="overlay v-align">
                                <div class="content">
                                    <h3 class="heading">Барбекю</h3>
                                    <span class="devider-projects"></span>
                                    <p class="subheading">Место где можно вкусно готовить</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="projects-home" style="background-image:url(<%= image_path("rooms/rel-room.jpg") %>)" >
                <div class="hovereffect">
                    <a href="#">
                        <div class="overlay v-align">
                            <div class="content">
                                <span class="heading">Бары</span>
                                <span class="devider-projects"></span>
                                <span class="subheading">Посмотреть бары</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="projects-home" style="background-image:url(<%= image_path("rooms/beach.jpg") %>)" >
            <div class="hovereffect">
                <a href="#">
                    <div class="overlay v-align">
                        <div class="content">
                            <h3 class="heading">Пляж</h3>
                            <span class="devider-projects"></span>
                            <p class="subheading">Азовское море</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    </div>

    </div>


    </div>
    </div>
</section>
<!-- section room end -->

<!-- section projects -->
<section class="whitepage no-top" id="projects" aria-label="projects">
    <div class="container-fluid">
        <div class="row">

            <!-- filter project -->
            <div class="onStep" data-animation="fadeInUp" data-time="300">
                <div class="filter-wraper text-center">
                    <ul id="filter-porto">
                        <li class="filt-projects selected" data-project="*">ВСЁ
                        </li>

                        <li class="filt-projects" data-project=".rooms">КОМНАТЫ
                        </li>

                        <li class="filt-projects" data-project=".resto">КАФЕ
                        </li>

                        <li class="filt-projects" data-project=".lands">ЛАНШАФТ
                        </li>

                        <li class="filt-projects" data-project=".spa">МОРЕ
                        </li>
                    </ul>
                </div>
            </div>
            <!-- filter project end -->

            <!-- start gallery -->
            <div class="no-gutter onStep" data-animation="fadeInUp" data-time="600" id="projects-wrap">
                <div class="col-md-3 col-xs-12 item rooms">
                    <div class="projects-grid big-img">
                        <a href=<%= image_path("projects/big/img1.jpg") %>>
                        <div class="hovereffect">
                            <%= image_tag("projects/img1.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                            <div class="overlay">
                                <div class="icon"><i class="fa fa-search-plus"></i></div>
                            </div>
                        </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item rooms">
                    <div class="projects-grid big-img">
                        <a href="img/projects/big/img2.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img2.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img2.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item rooms">
                    <div class="projects-grid big-img">
                        <a href="img/projects/big/img3.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img3.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img3.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item rooms resto">
                    <div class="projects-grid big-img">
                        <a href="projects/big/img4.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img4.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img4.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item lands">
                    <div class="projects-grid big-img">
                        <a href="projects/big/img5.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img5.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img5.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item spa">
                    <div class="projects-grid big-img">
                        <a href="projects/big/img6.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img6.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img6.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item">
                    <div class="projects-grid big-img">
                        <a href="projects/big/img3.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img3.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img3.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item">
                    <div class="projects-grid big-img">
                        <a href="projects/big/img4.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img4.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img4.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

            </div>
            <!-- gallery end -->
        </div>
    </div>
</section>
<!-- section projects end -->
<!--<div id="map" data-marker-url="<%# asset_url('map-marker.png') %>"></div>-->
<!-- map -->
<section aria-label="map" class="no-top">
  <div class="onStep" data-animation="fadeInUp" data-time="300" id="map"> </div>
</section>
<!-- map end -->

<section id="brand" aria-label="brands" class="brand-page parallax-window" data-parallax="scroll" data-image-src=<%= image_path("bg-logo.jpg") %>>
<!-- brands-->
<div class="container">
    <div class="row">

        <div class="owl-carousel" id="owl-brand">

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/1.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/2.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/3.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/4.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/5.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/6.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/1.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/2.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/3.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/4.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/5.png">-->
            </div>

            <div class="item">
                <%= image_tag("ourclients/1.png", :alt => "background") %>
                <!--<img alt="background" scr="img/ourclients/6.png">-->
            </div>

        </div>

    </div>
</div>
<!-- brands end-->
</section>