<!-- home -->
<!-- background slider -->
<div id="home">

  <!-- revolution slider -->
  <section class="fullwidthbanner-container no-bottom no-top" aria-label="section-slider">
    <div id="revolution-slider">
      <ul>

        <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
          <!--  BACKGROUND IMAGE -->
          <img src=<%= image_path("img-slide-1.png") %> alt="" />
          <div class="tp-caption big-heading sft"
               data-x="50"
               data-y="200"
               data-speed="800"
               data-start="400"
               data-easing="easeInOutExpo"
               data-endspeed="450">
            ГОСТЕВОЙ ДОМ "ВОЛНА"
          </div>

          <div class="tp-caption big-heading sft"
               data-x="50"
               data-y="270"
               data-speed="800"
               data-start="400"
               data-easing="easeInOutExpo"
               data-endspeed="450">
            +38 (050) 830-73-86
          </div>

          <div class="tp-caption sub-heading sft"
               data-x="50"
               data-y="340"
               data-speed="1000"
               data-start="800"
               data-easing="easeOutExpo"
               data-endspeed="400">
            ПРИГЛАШАЕМ НА ОТДЫХ
          </div>

          <div class="tp-caption sfb"
               data-x="50"
               data-y="370"
               data-speed="400"
               data-start="800"
               data-easing="easeInOutExpo">
            <div class="btn-slider"><a href="/rooms">Посмотреть комнаты</a></div>
          </div>
        </li>

        <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
          <!--  BACKGROUND IMAGE -->
          <img src=<%= image_path("img-slide-2.png") %> alt="" />
          <div class="tp-caption big-heading sft"
               data-x="50"
               data-y="200"
               data-speed="800"
               data-start="400"
               data-easing="easeInOutExpo"
               data-endspeed="450">
            ГОСТЕВОЙ ДОМ "ВОЛНА"
          </div>

          <div class="tp-caption big-heading sft"
               data-x="50"
               data-y="270"
               data-speed="800"
               data-start="400"
               data-easing="easeInOutExpo"
               data-endspeed="450">
            +38 (050) 830-73-86
          </div>

          <div class="tp-caption sub-heading sft"
               data-x="50"
               data-y="340"
               data-speed="1000"
               data-start="800"
               data-easing="easeOutExpo"
               data-endspeed="400">
            ЛУЧШИЙ ПЛЯЖ
          </div>

          <div class="tp-caption sfb"
               data-x="50"
               data-y="370"
               data-speed="400"
               data-start="800"
               data-easing="easeInOutExpo">
            <div class="btn-slider"><a href="/gallery">Посмотреть галерею</a></div>
          </div>
        </li>

        <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
          <!--  BACKGROUND IMAGE -->
          <img src=<%= image_path("img-slide-3.png") %> alt="" />
          <div class="tp-caption big-heading sft"
               data-x="50"
               data-y="200"
               data-speed="800"
               data-start="400"
               data-easing="easeInOutExpo"
               data-endspeed="450">
            ГОСТЕВОЙ ДОМ "ВОЛНА"
          </div>

          <div class="tp-caption big-heading sft"
               data-x="50"
               data-y="270"
               data-speed="800"
               data-start="400"
               data-easing="easeInOutExpo"
               data-endspeed="450">
            +38 (050) 830-73-86
          </div>

          <div class="tp-caption sub-heading sft"
               data-x="50"
               data-y="340"
               data-speed="1000"
               data-start="800"
               data-easing="easeOutExpo"
               data-endspeed="400">
            КОМФОРТНЫЙ ОТДЫХ
          </div>

          <div class="tp-caption sfb"
               data-x="50"
               data-y="370"
               data-speed="400"
               data-start="800"
               data-easing="easeInOutExpo">
            <div class="btn-slider"><a href="/prices">Посмотреть цены</a></div>
          </div>
        </li>

      </ul>
    </div>
  </section>
  <!-- revolution slider end -->

</div>
<!-- background slider end -->
<!-- home end -->

<section id="about-us-1" class="h-bg no-padding col-content">
  <div class="container-fluid">
    <div class="row">

      <div class="image-container col-md-6 pull-left onStep" data-animation="fadeInLeft" data-time="0"></div>
      <div class="col-md-6 p-90">
        <div class="sp-padding">
          <h3>
            Добро пожаловать в наш отель
          </h3>

          Лучший отель "Волна" ...

          <p>
            Лучший отель "Волна" ...
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>

<section id="about-us-2" class="h-bg no-padding col-content">
  <div class="container-fluid">
    <div class="row">

      <div class="image-container col-md-6 pull-right onStep" data-animation="fadeInRight" data-time="0"></div>

      <div class="col-md-6 p-60">
        <div class="sp-padding">
          <h3>
            Комфортный отдых
          </h3>

          Лучший отель "Волна" ...

          <p>
            Лучший отель "Волна" ...
          </p>

        </div>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>
</section>

<!-- stepwork -->
<section id="step-page" class="step-page">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="text-center">
          <h2>Бронирование</h2>
          <span class="devider-center"></span>
          <div class="space-single"></div>
        </div>
      </div>

      <!-- step menu -->
      <div class="onStep" data-animation="fadeInUp" data-time="300">

        <div class="step-mains">

          <div class="col-md-3 step-main">
            <div class="step-main">
              <a class="filt-step active" data-filter=".planing"><span>Вебери комнату</span></a>
            </div>
          </div>

          <div class="col-md-3 step-main">
            <div class="step-main">
              <a class="filt-step" data-filter=".que"><span>Заполни данныe</span></a>
            </div>
          </div>

          <div class="col-md-3 step-main">
            <div class="step-main">
              <a class="filt-step" data-filter=".book"><span>Оплати</span></a>
            </div>
          </div>

          <div class="col-md-3 step-main">
            <div class="step-main">
              <a class="filt-step" data-filter=".finish"><span>И конец</span></a>
            </div>
          </div>

        </div>
        <!-- step menu end -->

        <!-- step content -->
        <div id="step-text" class="col-md-12 col-xs-12">

          <div class="cont planing">
            <div class="text-center">
              <p>Конаты и цены выбирайте во вкладках "Комнаты" или "Цены"</p>
            </div>
          </div>

          <div class="cont que">
            <div class="text-center">
              <p>Вам нужно заполнить даты с и по, имя, фамилию, телефон и электроную почту. Если есть какие-то пожелания можно добавить какое-то пожелание.</p>
            </div>
          </div>

          <div class="cont book">
            <div class="text-center">
              <p>Если Вы всё плавитьно заполнили, у вас появится кнопка для предоплаты и 30 минут времени для предоплаты. (ВНИМАНИЕ: После 30 минут ваша оплата будет не действительна).</p>
            </div>
          </div>

          <div class="cont finish">
            <div class="text-center">
              <p>Вам на почту придёт подтверждение оплаты и подтверждение бронирования.</p>
            </div>
          </div>

        </div>
      </div>
      <!-- step content end -->

    </div>
  </div>
</section>
<!-- stepwork end -->

<!-- section projects -->
<section class="whitepage no-top" id="projects" aria-label="projects">
    <div class="container-fluid">
        <div class="row">

            <!-- filter project -->
            <div class="onStep" data-animation="fadeInUp" data-time="300">
                <div class="filter-wraper text-center">
                    <ul id="filter-porto">
                        <li class="filt-projects selected" data-project="*">ВСЁ
                        </li>

                        <li class="filt-projects" data-project=".rooms">КОМНАТЫ
                        </li>

                        <li class="filt-projects" data-project=".resto">КАФЕ
                        </li>

                        <li class="filt-projects" data-project=".lands">ЛАНШАФТ
                        </li>

                        <li class="filt-projects" data-project=".spa">МОРЕ
                        </li>
                    </ul>
                </div>
            </div>
            <!-- filter project end -->

            <!-- start gallery -->
            <div class="no-gutter onStep" data-animation="fadeInUp" data-time="600" id="projects-wrap">
                <div class="col-md-3 col-xs-12 item rooms">
                    <div class="projects-grid big-img">
                        <a href=<%= image_path("projects/big/img1.jpg") %>>
                        <div class="hovereffect">
                            <%= image_tag("projects/img1.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                            <div class="overlay">
                                <div class="icon"><i class="fa fa-search-plus"></i></div>
                            </div>
                        </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item rooms">
                    <div class="projects-grid big-img">
                        <a href="img/projects/big/img2.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img2.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img2.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item rooms">
                    <div class="projects-grid big-img">
                        <a href="img/projects/big/img3.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img3.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img3.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item rooms resto">
                    <div class="projects-grid big-img">
                        <a href="projects/big/img4.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img4.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img4.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item lands">
                    <div class="projects-grid big-img">
                        <a href="projects/big/img5.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img5.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img5.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item spa">
                    <div class="projects-grid big-img">
                        <a href="projects/big/img6.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img6.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img6.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item">
                    <div class="projects-grid big-img">
                        <a href="projects/big/img3.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img3.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img3.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 item">
                    <div class="projects-grid big-img">
                        <a href="projects/big/img4.jpg">
                            <div class="hovereffect">
                                <%= image_tag("projects/img4.jpg", :alt => "imageportofolio", :class => "img-responsive", ) %>
                                <!--<img alt="imageportofolio" class="img-responsive" scr="img/projects/img4.jpg">-->
                                <div class="overlay">
                                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                                </div>
                            </div></a>
                    </div>
                </div>

            </div>
            <!-- gallery end -->
        </div>
    </div>
</section>
<!-- section projects end -->
<!--<div id="map" data-marker-url="<%# asset_url('map-marker.png') %>"></div>-->
<!-- map -->
<section aria-label="map" class="no-top">
  <div class="onStep" data-animation="fadeInUp" data-time="300" id="map"> </div>
</section>
<!-- map end -->