<!-- home -->
<!-- background slider -->
<div class="bgslider-owl" id="home">
  <div id="owl-slider-home" class="owl-carousel">

    <div class="item imgbg" style="background-image:url(<%= image_path("img-slide-1.jpg") %>)">
      <!-- intro -->
      <div class="overlay-main v-align text-center ">
        <div class="col-md-10 col-xs-11 onStep" data-animation="fadeInUp" data-time="300">

          <h1 style="text-shadow: 0 0 6px #000;">Спасибо!</h1>
          <h3 style="text-shadow: 0 0 6px #000;">предоплата завершена</h3>
          <br>
        </div>
      </div>
      <!-- intro end -->
    </div>

    <div class="item imgbg" style="background-image:url(<%= image_path("img-slide-2.jpg") %>)">
      <!-- intro -->
      <div class="overlay-main v-align text-center ">
        <div class="col-md-10 col-xs-11">

          <h1 style="text-shadow: 0 0 6px #000;">Спасибо!</h1>
          <h3 style="text-shadow: 0 0 6px #000;">предоплата завершена</h3>
          <br>

        </div>
      </div>
      <!-- intro end -->
    </div>

    <div class="item imgbg" style="background-image:url(<%= image_path("img-slide-3.jpg") %>)">
      <!-- intro -->
      <div class="overlay-main v-align text-center ">
        <div class="col-md-10 col-xs-11">

          <h1 style="text-shadow: 0 0 6px #000;">Спасибо!</h1>
          <h3 style="text-shadow: 0 0 6px #000;">предоплата завершена</h3>
          <br>

        </div>
      </div>
      <!-- intro end -->
    </div>

  </div>

</div>
<!-- background slider end -->
<!-- home end -->

<!-- booking home -->
<div class="bot-home-text onStep" data-animation="fadeInUp" data-time="600">
  <div class="container">

    <div id="reservation" class="imgbgres" style="background-image:url(<%= image_path("bg-res.jpg") %>)">

      <form action="#" id="form1" method="post" name="form1">
        <div class="row">

          <div class="col-sm-6 form-group">
            <input type="text" value = <%= @reservation.room_name_ru %> disable>
          </div>

          <div class="col-md-3 form-group">
            <div class="input-group">
              <input type="text" name="date1" id="date1" class="form-control fox1" placeholder="ДАТА ВЪЕЗДА" value =<%= @reservation.date_from %> disabled>
              <div class="input-group-btn">
                <span class="icon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>


          <div class="col-md-3 form-group">
            <div class="input-group">
              <input type="text" name="date2" id="date2" class="form-control fox2" placeholder="ДАТА ВЫЕЗДА" value =<%= @reservation.date_to %>  disabled>
              <div class="input-group-btn">
                <span class="icon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="col-sm-2 form-group">
            <input id="personbook" name="personbook" placeholder="ФАМИЛИЯ" type="text" value =<%= @reservation.surname %>  disabled>
          </div>

          <div class="col-sm-4 form-group">
            <input id="namebook" name="namebook" placeholder="ИМЯ" type="text" value =<%= @reservation.name %>  disabled>
          </div>

          <div class="col-sm-3 form-group">
            <input id="emailbook" name="emailbook" placeholder="EMAIL" type="text" value =<%= @reservation.email %> disabled>
          </div>

          <div class="col-sm-3 form-group">
            <input id="phonebook" name="phonebook" placeholder="ТЕЛЕФОН" type="text" value =<%= @reservation.phone_number %> disabled>
          </div>

          <div class="col-sm-12 form-group">
            <textarea cols="50" id="messagebook" name="message" placeholder="ВАШЕ СООБЩЕНИЕ(ОСОБЫЕ ПОЖЕЛАНИЯ)" rows="2" value =<%= @reservation.message %> disabled></textarea>
          </div>


          <div class="success-white-payment">Спасибо предоплата завершена!</div>
        </div>
      </form>
      <div class="payment" id="payment">

      </div>
    </div>

  </div>
</div>
<!-- booking home end -->

