<div class="div-center">
  <div class="content">
    <h1>Prepayment</h1>
    <h2>Call on the <strong>+4792759495</strong></h2>
    <% if @reservation.errors.any? %>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><p class="error text-danger"><%= message %></p></li>
      <% end %>
    <% end %>
    <%= form_for @reservation do |f| %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :step %>
      <%= f.hidden_field :date_from %>
      <%= f.hidden_field :date_to %>
      <%= f.hidden_field :client_id %>
      <%= f.hidden_field :room_id %>
      <%= f.hidden_field :payment %>
      <%= f.hidden_field :total_price %>
      <%= f.submit "Update reservation", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
