<div class="div-center">
  <div class="content">
    <h1>Succeed!</h1>
    <strong>Date_from:</strong> <%= @reservation.date_from %> </br>
    <strong>Date_to:</strong> <%= @reservation.date_to %> </br>
    <strong>Room_number:</strong> <%= @reservation.room.number %> </br>
    <strong>Client:</strong> <%= @reservation.client.name %> <%= @reservation.client.surname %> </br>
    <%= form_for @reservation do |f| %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :step, :value =>"" %>
      <%= f.hidden_field :date_from %>
      <%= f.hidden_field :date_to %>
      <%= f.hidden_field :client_id %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "Add new reservation", class: "btn btn-primary" %>
    <% end %>

    <!--<%# @reservations.each_with_index  do |r, i| %>-->
      <!--<strong>Date_from:</strong>-->
      <!--<strong>Date_from:</strong> <%# r.date_from %> </br>-->
      <!--<strong>Date_to:</strong> <%# r.date_to %> </br>-->
      <!--<strong>Room_number:</strong> <%# r.room.number %> </br>-->
    <!--<strong>Price:</strong> <%# r.calculate_total_price %>
    <!--<# end %>-->
  </div>
</div>