<!-- subheader -->
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          ГАЛЕРЕЯ
        </h1>
      </div>
      
      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="/">ДОМОЙ</a>
          </li>

          <li class="sep">/
          </li>

          <li>ГАЛЕРЕЯ
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader end -->

<!-- section projects -->
<section class="whitepage no-top" id="projects" aria-label="projects">
  <div class="container">
    <div class="row">
    
      <!-- filter project -->
      <div class="onStep" data-animation="fadeInUp" data-time="300">
        <div class="filter-wraper text-center">
          <ul id="filter-porto">
            <li class="filt-projects selected" data-project="*">ВСЁ
            </li>
            
            <li class="filt-projects" data-project=".rooms">КОМНАТЫ
            </li>

            <li class="filt-projects" data-project=".resto">КАФЕ
            </li>

            <li class="filt-projects" data-project=".lands">ЛАНШАФТ
            </li>

            <li class="filt-projects" data-project=".spa">МОРЕ
            </li>
          </ul>
        </div>
      </div>
      <!-- filter project end -->
      
      <!-- start gallery -->
      <div class="no-gutter onStep" data-animation="fadeInUp" data-time="600" id="projects-wrap">
        <div class="col-md-4 col-xs-12 item rooms">
          <div class="projects-grid big-img">
            <a href="<%= image_path("projects/big/img1.jpg") %> ">
            <div class="hovereffect">
              <img alt="imageportofolio" class="img-responsive" src="<%= image_path("projects/img1.jpg") %> ">
              <div class="overlay">
                  <div class="icon"><i class="fa fa-search-plus"></i></div>
              </div>
            </div></a>
          </div>
        </div>

        <div class="col-md-4 col-xs-12 item rooms">
          <div class="projects-grid big-img">
            <a href="<%= image_path("projects/big/img2.jpg") %> ">
            <div class="hovereffect">
              <img alt="imageportofolio" class="img-responsive" src="<%= image_path("projects/img2.jpg") %> ">
              <div class="overlay">
                <div class="icon"><i class="fa fa-search-plus"></i></div>
              </div>
            </div></a>
          </div>
        </div>

        <div class="col-md-4 col-xs-12 item rooms">
          <div class="projects-grid big-img">
            <a href="<%= image_path("projects/big/img3.jpg") %> ">
            <div class="hovereffect">
              <img alt="imageportofolio" class="img-responsive" src="<%= image_path("projects/img3.jpg") %> ">
              <div class="overlay">
                <div class="icon"><i class="fa fa-search-plus"></i></div>
              </div>
            </div></a>
          </div>
        </div>

        <div class="col-md-4 col-xs-12 item rooms resto">
          <div class="projects-grid big-img">
            <a href="<%= image_path("projects/big/img4.jpg") %> ">
            <div class="hovereffect">
              <img alt="imageportofolio" class="img-responsive" src="<%= image_path("projects/img4.jpg") %> ">
              <div class="overlay">
                <div class="icon"><i class="fa fa-search-plus"></i></div>
              </div>
            </div></a>
          </div>
        </div>

        <div class="col-md-4 col-xs-12 item lands">
          <div class="projects-grid big-img">
            <a href="<%= image_path("projects/big/img5.jpg") %> ">
            <div class="hovereffect">
              <img alt="imageportofolio" class="img-responsive" src="<%= image_path("projects/img5.jpg") %> ">
              <div class="overlay">
                <div class="icon"><i class="fa fa-search-plus"></i></div>
              </div>
            </div></a>
          </div>
        </div>

        <div class="col-md-4 col-xs-12 item spa">
          <div class="projects-grid big-img">
            <a href="<%= image_path("projects/big/img6.jpg") %> ">
            <div class="hovereffect">
              <img alt="imageportofolio" class="img-responsive" src="<%= image_path("projects/img6.jpg") %> ">
              <div class="overlay">
                <div class="icon"><i class="fa fa-search-plus"></i></div>
              </div>
            </div></a>
          </div>
        </div>

        <div class="col-md-4 col-xs-12 item">
          <div class="projects-grid big-img">
            <a href="<%= image_path("projects/big/img3.jpg") %> ">
            <div class="hovereffect">
              <img alt="imageportofolio" class="img-responsive" src="<%= image_path("projects/img3.jpg") %> ">
              <div class="overlay">
                <div class="icon"><i class="fa fa-search-plus"></i></div>
              </div>
            </div></a>
          </div>
        </div>

        <div class="col-md-4 col-xs-12 item">
          <div class="projects-grid big-img">
            <a href="<%= image_path("projects/big/img4.jpg") %> ">
            <div class="hovereffect">
              <img alt="imageportofolio" class="img-responsive" src="<%= image_path("projects/img4.jpg") %> ">
              <div class="overlay">

                <div class="icon"><i class="fa fa-search-plus"></i></div>
              </div>
            </div></a>
          </div>
        </div>

        <div class="col-md-4 col-xs-12 item">
          <div class="projects-grid big-img">
            <a href="<%= image_path("projects/big/img5.jpg") %> ">
            <div class="hovereffect">
              <img alt="imageportofolio" class="img-responsive" src="<%= image_path("projects/img5.jpg") %> ">
              <div class="overlay">
                <div class="icon"><i class="fa fa-search-plus"></i></div>
              </div>
            </div></a>
          </div>
        </div>
      </div>
      <!-- gallery end -->
    </div>
  </div>
</section>
<!-- section projects end -->
      