<!-- subheader -->
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          ЦЕНЫ
        </h1>
      </div>

      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="/">ДОМОЙ</a>
          </li>

          <li class="sep">/
          </li>

          <li>
            ЦЕНЫ
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="whitepage" aria-label="rooms">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="room">
          <div class="heading">Стандарт</div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th><strong>МЕСЯЦ</strong></th>
              <th><strong>ЦЕНА ЗА НОМЕР</strong></th>
            </tr>
            </thead>
            <tbody>
            <% {Май: 5, Июнь: 6, Июль: 7, Август: 8, Сентябрь: 9}.each do |k, v| %>
            <tr>
              <td><%= k %></td>
              <% rd =RoomDate.where(room: Room.find_by(type_of_room: "standart")).where('extract(month from date) = ?', v).first %>
              <td><div class="prices"><%= (rd.price.to_i if rd.present?) || "Нету" %> грн.</div></td>
            </tr>
            <% end %>
            </tbody>
          </table>
          <div class="devider-rooms"></div>
          <div class="btn-book"><%= link_to "ПОСМОТРЕТЬ КОМНАТУ", standart_path %></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="room">
          <div class="heading">Люкс</div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th><strong>МЕСЯЦ</strong></th>
              <th><strong>ЦЕНА ЗА НОМЕР</strong></th>
            </tr>
            </thead>
            <tbody>
            <% {Май: 5, Июнь: 6, Июль: 7, Август: 8, Сентябрь: 9}.each do |k, v| %>
              <tr>
                <td><%= k %></td>
                <% rd =RoomDate.where(room: Room.find_by(type_of_room: "luxe")).where('extract(month from date) = ?', v).first %>
                <td><div class="prices"><%= (rd.price.to_i if rd.present?) || "Нету" %> грн.</div></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <div class="devider-rooms"></div>
          <div class="btn-book"><%= link_to "ПОСМОТРЕТЬ КОМНАТУ", luxe_path %></div>
        </div>
      </div>

    </div>
  </div>
</section>


