<!-- subheader -->
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          КОМНАТЫ
        </h1>
      </div>

      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="/">ДОМОЙ</a>
          </li>

          <li class="sep">/
          </li>

          <li>
            <a href="/prices">УТОЧНИТЬ ЦЕНЫ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader end -->

<!-- room -->
<section class="whitepage" aria-label="rooms">
<div class="container">
 <div class="row">

 <div class="col-md-6">
  <div class="room">
   <%= image_tag("gallery/standart/IMG_20180905_134039.jpg", :alt => "room img", :class => "img-responsive", ) %>
   <div class="heading">Стандарт</div>
   <div class="devider-rooms"></div>
   <div class="price">₴<%= Month.find_by(room: @room_standart, number: Time.now.month).price.to_i %><sub>/ ночь</sub></div>
   <p class="content">Стандартный трёхместный номер.</p>
   <div class="btn-book"><%= link_to "ПОСМОТРЕТЬ БОЛЬШЕ", standart_path %></div>
  </div>
 </div>

 <div class="col-md-6">
 <div class="room">
  <%= image_tag("gallery/luxe/IMG_20180905_122309.jpg", :alt => "room img", :class => "img-responsive", ) %>
  <div class="heading">Люкс</div>
   <div class="devider-rooms"></div>
   <div class="price">₴<%= Month.find_by(room: @room_luxe, number: Time.now.month).price.to_i %><sub>/ ночь</sub></div>
   <p class="content">Четырехместный люкс номер.</p>
   <div class="btn-book"><%= link_to "ПОСМОТРЕТЬ БОЛЬШЕ", luxe_path %></div>
 </div>
 </div>

 </div>
</div>
</section>
<!-- room end -->
