<!-- subheader -->
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          КОМНАТЫ
        </h1>
      </div>

      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="/">ДОМОЙ</a>
          </li>

          <li class="sep">/
          </li>

          <li>
            <a href="/prices">УТОЧНИТЬ ЦЕНЫ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader end -->

<!-- room -->
<section class="whitepage" aria-label="rooms">
<div class="container">
 <div class="row">
 <% Room.all.each do |room| %>
 <div class="col-md-6">
  <div class="room">
   <% begin %>
   <%= image_tag("gallery/#{room.name}/1.jpg", :alt => "room img", :class => "img-responsive", ) %>
   <% rescue %>
   <% end %>
   <div class="heading"><%= room.name_ru %></div>
   <div class="devider-rooms"></div>
   <div class="price">₴<%= room.months.where(number: Time.now.month).first.price.to_i if room.months.where(number: Time.now.month).count > 0 || "Нету" %><sub>/ ночь</sub></div>
   <p class="content"><%= room.description %></p>
   <div class="btn-book"><%= link_to "ПОСМОТРЕТЬ БОЛЬШЕ", room.name %></div>
  </div>
 </div>
 <% end %>
 </div>
</div>
</section>
<!-- room end -->
